[Unit]
Description=Monitor and Manage a local file directory via Plan9 9P protocol
Requires=network-online.target

[Service]
Type=simple
User=
WorkingDirectory=/home/p9
ExecStart=dirfs -addr localhost:6100 -err -root /home/p9
Restart=on-failure

[Install]
WantedBy=multi-user.target
